<footer class="footer">
  <div class="container">
    <p class="pull-left">&copy;&nbsp;
      <a href="https://github.com/stratigos" target="_blank">Todd Morningstar</a>, 2015
    </p>
    <p>&nbsp;&vert;&nbsp;This website is a
      <a href="/about">simple demonstration</a> and does not actually sell anything, ever.
    </p>
  </div>
</footer>