<div class="shortorder-form-container">
  <p class="text-center"><em>If you would like to order, please enter your name, and amount of tea.</em></p>
  <form class="shortorder-form" action="/orders/new" method="get">
    <div class="form-group-sm">
      <input type="text" class="form-control" id="inputname" placeholder="Your Name">
    </div>
    <div class="voffset10"></div>
    <div class="form-group-sm">
      <input type="text" class="form-control" id="inputquantity" placeholder="Number of Teas">
    </div>
    <div class="voffset20"></div>
    <div class="text-center">
      <button type="submit" class="btn btn-success shadow">Click to Order</button>
    </div>
  </form>
</div>