<% # contained by div col-md-3 %>
<div class="reishitea-sidebar">
  <div class="well well-sm text-center">
    <p>Want to order? <strong><%= link_to 'Click here!', :orders_new %></strong></p>
    <p><small>HTTPS coming soon (we hope)!</small></p>
  </div>
  <div class="well well-sm text-center">
    <p>
      <img src="http://lorempixel.com/320/214/nature" class="img-responsive center-block" />
    </p>    
  </div>
  <div class="well well-sm text-center">
    <p>Top Customer Comments</p>
    <div class="list-group">
      <a href="#" class="list-group-item active ligreen">
        <h4 class="list-group-item-heading">Joe, Canada</h4>
        <p class="list-group-item-text">This Reishi Tea is my favorite...</p>
      </a>
      <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Michael, Nicaragua</h4>
        <p class="list-group-item-text">Couldn't ask for better shipping service.</p>
      </a>
      <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Erika, USA</h4>
        <p class="list-group-item-text">Time for another order already!</p>
      </a>
    </div>
  </div>
</div>