<div class="col-md-8">
<!-- main content -->

  <div class="row">
    <div class="lead">
      <h1>About the Ultimate Beverage</h1>
      <small>This is just a demo application, it is not real <span class="glyphicon glyphicon-thumbs-up"></span></small>
    </div>
    <div class="clearfix"></div>
    <div>
      <p>
        Bacon ipsum dolor amet enim brisket cow meatball short loin swine irure flank ut doner ball tip. Tongue commodo pancetta, aliqua capicola beef ribs boudin swine beef drumstick nisi. Minim t-bone tongue anim. Pork belly biltong prosciutto anim porchetta turkey et excepteur sirloin t-bone aliqua beef ribs. Laboris ut meatloaf pork chop sint tenderloin. Consequat frankfurter andouille pariatur kielbasa. Est sed officia, flank esse exercitation corned beef quis irure commodo tail andouille leberkas shankle kielbasa.
      </p>
      <p>
        Andouille labore in, nostrud enim filet mignon ullamco aliqua non reprehenderit fugiat spare ribs sausage pancetta. Occaecat incididunt sausage boudin. Biltong anim brisket pork chop. Adipisicing aliquip brisket officia, tenderloin prosciutto jowl drumstick irure. Sed leberkas picanha, nisi nulla ad in spare ribs. Venison tri-tip aliqua short ribs frankfurter qui pork belly nostrud strip steak ground round adipisicing dolore cow.
      </p>
      <p>
        Aute swine ut dolore culpa magna adipisicing short loin mollit. Cillum bacon ea eiusmod alcatra officia labore et deserunt sunt filet mignon elit. Prosciutto id leberkas, spare ribs shank ipsum aliquip. Pariatur laboris tail doner elit duis sint aliqua filet mignon bacon drumstick laborum lorem proident.
      </p>
    </div>

  </div>

</div>
<!-- sidebar -->
<div class="col-md-4">
  <%= render 'partials/sidebar' %>
</div>