<div class="col-md-8">
<!-- main content -->
  <div class="row">
    <div class="well well-sm text-center">
      <div class="page-header">
        <h1>Reishi Tea!</h1>
        <h4>The most delicious beverage in the universe.</h4>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <p class="text-center">
          <%= image_tag '/images/reishi_shot.jpg', class: 'img-responsive homepage-img', alt: 'Reishi Mushroom' %>
        </p>
        <p class="lead">Need a pick-me-up?</p>
        <p>
          Reishi tea is incredibly awesome and you should totally drink it. Its also kind of a pain to make, I mean
          boil for 90 minutes? <em>Aint nobody got time fo' dat!</em>. Luckily for you, I exist. When Im not 
          programming, Im probably making Reishi tea. Ive got a ton. I also have magic gnomes that can ship it to you
          in like ten seconds, so seriously place an order and you can get on the bountiful beverage bandwagon.
        </p>
        <p>
          Reishi can give you superpowers like spidey-man vision, anti-mutagenic cabability (seriously, YOU CAN FIGHT
          X-MEN!), and the ability to punch through solid concrete when youre 85 years old. These claims arent backed by
          anyone or anything ever, so you should try my tea and test for yourself. Besides, this isnt an ecommerce site,
          so I havent even implemented any way of taking money. Its free!
        </p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="row">
        <ul id="homepage-fun-facts-list" class="list-group">
          <li class="list-group-item list-group-item-success">It puts the <em>fun</em> in <em>fungi!</em></li>
          <li class="list-group-item">Promotes a <strong>strong</strong> pretty much everything!</li>
          <li class="list-group-item list-group-item-success">Tastes like warm, savory wood!</li>
          <li class="list-group-item">Makes for a great gift!</li>
        </ul>
      </div>
      <div class="voffset20"></div>
      <div class="row">
        <%= render 'partials/shortorder_form' %>
      </div>
    </div>
  </div>

</div>
<!-- separation -->
<div class="col-md-1">
</div>
<!-- sidebar -->
<div class="col-md-3">
  <%= render 'partials/sidebar' %>
</div>