<div class="col-md-8">
<!-- main content -->

  <div class="row">
    <p class="pull-left">
      <%= image_tag '/images/reishi_shot.jpg',
        width: '50%', height: '50%', class: 'img-responsive', alt: 'Reishi Mushroom'
      %>
    </p>
    <div>
      <h1><strong>Reishi is <em>totally</em> cool.</strong></h1>
      <p class="text-center voffset20">
        <a href="https://duckduckgo.com/?q=reishi+tea" target="_blank" class="btn btn-success">Learn More!</a>
      </p>
    </div>
    <div class="clearfix"></div>
    <div>
      <hr />
      <p>
        Red Reishi (Ganoderma lucidum), commonly known as Ling Zhi in Chinese, is a herbal mushroom known to have miraculous health benefits.
      </p>
      <p>
        - <a href="http://www.reishi.com/" target="_blank">reishi.com</a>
      </p>
      <hr />
      <p>
        Reishi mushroom is a fungus that some people describe as “tough” and “woody” with a bitter taste. The fruiting
        body (above-ground part) and mycelium (filaments connecting a group of mushrooms) are used as medicine.
      </p>
      <p>
        Reishi mushroom is used for boosting the immune system; viral infections such as the flu (influenza), swine flu,
        and avian flu; lung conditions including asthma and bronchitis; heart disease and contributing conditions such
        as high blood pressure and high cholesterol; kidney disease; cancer; and liver disease. It is also used for
        HIV/AIDS, altitude sickness, chronic fatigue syndrome (CFS), trouble sleeping (insomnia), stomach ulcers,
        poisoning, and herpes pain. Other uses include reducing stress and preventing fatigue.
      </p>
      <p>
        In combination with other herbs, reishi mushroom is used to treat prostate cancer.
      </p>
      <p>
        - <a
          href="http://www.webmd.com/vitamins-supplements/ingredientmono-905-reishi%20mushroom.aspx?activeingredientid=905&activeingredientname=reishi%20mushroom"
          target="_blank"
        >WebMD</a>
      </p>
      <hr/>
      <p>
       The benefits of reishi mushrooms are so well known and proven that you can get them in forms that are much
       convenient that slicing them up and cooking with them. You can buy them dried, in concentrated tablets, capsules,
       or even as an extract. In any of these forms reishi mushrooms can be used as a dietary supplement.
      </p>
      <p>
        - <a href="http://www.herbwisdom.com/herb-reishi-mushrooms.html" target="_blank">HerbWisdom</a>
      </p>
      <hr />
      <p>
        For over 2,000 years, reishi mushrooms have kept people spry and healthy well into their golden years. Or at
        least, that’s what people have been saying. According to some herbalists, red reishi mushrooms can cure many of
        the issues we associate with aging, such as high blood pressure, arthritis, and liver problems.
      </p>
      <p>
        - <a href="http://www.healthline.com/health/reishi-mushroom-key-to-immortality" target="_blank">HealthLine</a>
      </p>
      <hr />
      <p class="text-center">
        <a href="https://duckduckgo.com/?q=reishi+tea" target="_blank" class="btn btn-success">Learn More!</a>
      </p>
      <hr />
    </div>
    <div class="voffset20"></div>
  </div>

</div>
<!-- separation -->
<div class="col-md-1">
</div>
<!-- sidebar -->
<div class="col-md-3">
  <%= render 'partials/sidebar' %>
</div>
