<!-- main content -->
<div class="col-md-8">

  <% if flash[:notice] %>
    <div class="row">
      <div class="notice order-flash-notice">
        <%= flash[:notice] %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="lead">
      <h1>Reishi Tea Orders</h1>
      <small><%= link_to 'Click here', :orders_new %> to jump on this bountiful beverage bandwagon.</small>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 recent-orders-container">
      <div class="lead">
        <big>Recent Orders</big>
      </div>
      <div class='recent-orders'>
        <div class='recent-order'>
          <p>Name: Stuff</p>
          <p>City: 1234 Stuff</p>
          <p>Country: Brazil</p>
          <p>Quantity: 45</p>
        </div>
        <hr />
        <div class='recent-order'>
          <p>Name: Stuff</p>
          <p>City: 1234 Stuff</p>
          <p>Country: Brazil</p>
          <p>Quantity: 45</p>
        </div>
        <hr />
      </div>
    </div>
    <div class="col-md-3 recent-sold-container">
      <big>Reishi Teas Sold</big>
      <div class='recent-units-sold'>
        Today: <span>302</span>
      </div>
      <hr />
      <div class='alltime-units-sold'>
        All Time: <span>302</span>
      </div>
    </div>
    <div class="col-md-3 recent-shipped-container">
      <big>Reishi Teas Shipped</big>
      <div class="recent-units-shipped">
        Today: <span>45</span>
      </div>
      <hr />
      <div class="alltime-units-shipped">
        All Time: <span>45</span>
      </div>
    </div>
  </div>

</div>

<!-- separation -->
<div class="col-md-1">
</div>

<!-- sidebar -->
<div class="col-md-3">
  <%= render 'partials/sidebar' %>
</div>