<!-- main content -->
<div class="col-md-8">

  <div class="row">
    <div class="lead">
      <h1>Order some Reishi Tea</h1>
      <small>It is the Earth's Ultimate Beverage!</small>
    </div>
  </div>

  <div class="row">
    <%= render 'partials/order_form' %>
  </div>

</div>

<!-- separation -->
<div class="col-md-1">
</div>

<!-- sidebar -->
<div class="col-md-3">
  <%= render 'partials/sidebar' %>
</div>